.newsletter {
  margin-bottom: 66px;
  &-header {
    text-align: center;
    margin-bottom: 95px;
    .heading--big {
      max-width: 629px;
      margin: 0 auto 18px;
      text-align: center;
    }
    .text {
      max-width: 475px;
      margin: 0 auto;
    }
  }
  .main-container {
    justify-content: flex-end;
  }
  &-content {
    flex: 1;
    max-width: 555px;
    .heading--medium {
      max-width: 378px;
      margin-bottom: 18px;
    }
    .text {
      max-width: 508px;
      margin-bottom: 37px;
    }
  }
  &-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 74px;
  }
  &-item {
    position: relative;
    img {
      margin-bottom: 20px;
    }
    .heading--normal {
      margin-bottom: 9px;
    }
    .text {
      font-size: 16px;
      line-height: calc(26 / 16);
      margin-bottom: 28px;
      height: 78px;
    }
    a {
      text-underline-offset: 2px;
      &:hover {
        text-decoration: underline;
        text-decoration-color: var(--primary-color);
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .newsletter {
    margin-bottom: 60px;
    &-header {
      margin-bottom: 60px;
      .heading--big {
        max-width: 530px;
        margin-bottom: 12px;
      }
      .text {
        max-width: 375px;
      }
    }

    .main-container {
      flex-direction: column-reverse;
      &-image {
        padding-left: 120px;
        margin-bottom: 45px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .newsletter {
    &-header {
      .heading--big {
        max-width: 313px;
        margin-bottom: 0;
      }
      .text {
        max-width: 234px;
        margin-bottom: 0;
      }
    }
    &-content {
      padding: 60px 20px;
    }
    &-list {
      flex-direction: column;
    }
    .main-container {
      &-image {
        padding-left: 60px;
      }
    }
  }
}
