body {
  background-color: var(--body-bg);
  font-family: var(--primary-font);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}
.app {
  max-width: var(--body-size);
  margin: 0 auto;
}

.container {
  max-width: calc(var(--container) + var(--gap) * 2);
  padding: 0 var(--gap);
  margin: 0 auto;
}

.text-primary {
  background: linear-gradient(93.52deg, #e6ff4b 8.71%, #00bd82 98.16%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
}

.button {
  display: inline-block;
  color: var(--white);
  line-height: 1;
  cursor: pointer;
  border: 0;
  outline: none;
  border-radius: var(--button-border);
  font-size: 18px;
  padding: 15px 30px;
  transition: all 0.3s ease;
  &--primary {
    background-color: var(--primary-color);
  }
  &:hover {
    color: var(--gray1e);
    background-color: var(--primary-yellow);
  }
}

.mb-40 {
  margin-bottom: 140px;
}

.heading {
  font-weight: 600;
  color: var(--gray1e);
  &--big {
    font-size: 50px;
    line-height: calc(63 / 50);
  }
  &--medium {
    font-size: 40px;
    line-height: calc(50 / 48);
  }
  &--normal {
    font-size: 20px;
    line-height: calc(25 / 20);
  }
}

.text {
  font-size: 18px;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
  &-image {
    flex-shrink: 0;
  }
}

.overlay {
  background-color: rgba(#000, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  display: none;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: calc(var(--container-ipad) + var(--gap) * 2);
  }
  .mb-40 {
    margin-bottom: 60px;
  }
  .heading {
    &--big {
      font-size: 30px;
      line-height: calc(40 / 30);
    }
    &--medium {
      font-size: 24px;
      line-height: calc(34 / 24);
    }
  }
  .text {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}
